@font-face{
    font-family: myFont;
    src: url('font-family/DancingScript-VariableFont_wght.ttf')
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background:lightgrey;
}
.blockMain{
    width:90%;
    height:90vh;
    margin:5vh auto;
    background-image:  url('image/nen.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode:luminosity;

    display: flex;
    flex-direction: row;
}

.blockData{
    width: 35%;
    height: 100%;
    padding:10px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:9.5px;
    font-weight:bolder;

    color:white;
    background:rgba(0, 0, 0, 0.61);

    display:flex;
    flex-direction:column;
    justify-content:start;
}

.blockData #title{
    margin-top: 7%;

    font-size:2em;

    display:flex;
    flex-direction:row;
    align-items: center;
}
.blockData #title::before{
    content: ' ';

    width:.7rem;
    height:2rem;
    margin-left:5rem;
    margin-right:.7rem;

    background:rgb(124, 66, 24);
}

.blockData .main{
    height:23%;
    margin-top:5%;
    margin-left:2%;

    display:flex;
    flex-direction: row;
    align-items: center;
}

.blockData .main .blockImg{
    width: 7rem;
    height: 7rem;
    margin-right:2%;
    border: .3em solid white;
    border-radius: 50%;

    background:white;
    overflow:hidden;
}
.blockData .main .blockImg img{
    width:100%;
}

.blockData .main .blockIntro{
    flex:1;
}
.blockData .main .blockIntro .name{
    font-size: 2em;
}

.blockData .main .blockIntro .icon{
    margin:1%;
    font-size:1.5em;
}
.blockData .main .blockIntro .icon svg{
    margin:0 .2%;

    color:rgb(204, 164, 32);
}
.blockData .main .blockIntro .full::after{
    font: var(--fa-font-solid);
    content:'\f005';

    margin:.2%;

    color:rgb(204, 164, 32);
}
.blockData .main .blockIntro .four::after{
    font: var(--fa-font-regular);
    content:'\f005';

    margin:.2%;

    color:rgb(204, 164, 32);
}

.blockData .main .blockIntro .introduct{
    font-size:1.4em;
    font-style:italic;
}
.blockData .main .blockIntro .introduct p{
    padding: .2em;
}
.blockData .main .blockIntro .introduct .properties{
    color:rgb(204, 164, 32);
}


.blockText{
    height: 50%;
    margin: 2rem 0 0 10rem;

    text-align: end;
    text-transform:uppercase;

    font-family:myFont;
    font-size: 95px;
    font-weight:bolder;

    color:#B50E13;
    rotate: 351deg;
}
.blockText #hello{
    font-size: .7em;
    text-align: start;
}